
.uploadCV{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

    background-color: rgba(183, 175, 175, 0.157);
    height: 64px;
    border-radius: 10px;
    margin: auto auto 50px auto;
}

.uploadCVinner{
    margin: auto 30px;
}

.testimonialVideos{
    margin: auto auto 100px auto;
}

.video-container{
    width: 310px;
    height: 100%;
}


/* For Gallery */


.gellarycarousel{
  margin: 90px auto;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


/* For Gallery */




