
.uploadCV{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

    background-color: rgba(183, 175, 175, 0.157);
    height: 64px;
    border-radius: 10px;
    margin: auto auto 50px auto;
}

.uploadCVinner{
    margin: auto 30px;
}

.testimonialVideos{
    margin: auto auto 100px auto;
}

.video-container{
    width: 310px;
    height: 100%;
}


/* For Gallery */


.gellarycarousel{
  margin: 90px auto;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


/* For Gallery */

/* Slider css start */

.ram009 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .2s linear;
}

/* body {
  background-color: #222;
} */

.ram007 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.ram007 a {
  height: 200px;
  width: 300px;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 5px #000;
}

.ram007 a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ram007 a img:hover {
  transform: scale(1.4);
}

.lightboxText1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 35px;
  color: rgba(202, 9, 9, 0.65);
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
}

.lightboxText2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 35px;
  color: rgba(202, 9, 9, 0.65);
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
}

/* Slider css end */


